@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Share+Tech&display=swap');
:root {
	--font-regular: 'Maven Pro', Helvetica, Calibri, sans-serif;
	--font-title: 'Share Tech', Helvetica, Calibri, sans-serif;
	--tsize-small: 10pt;
	--tsize-regular: 12pt;
	--tsize-tall: 15pt;
	--tsize-big: 28pt;
	--tsize-bigger: 64pt;
	--color-main: #F64975;
	--color-sec: #37C9C7;
	--color-accent: #FFD073;
	--color-alert: #000000;
	--color-base: #FFFFFF;
	--color-light: #F2F6F9;
	--color-lighty: #DEEAF4;
	--color-darky: #798F9F;
	--color-dark: #002845;
	--shadow-down: 0pt 0.5pt 4pt 0px #00284580;
	--shadow-up: 0pt -0.5pt 4pt 0px #00284580;
	--separator: 1px solid var(--color-ligthy);
	--coffeti: url(images/bgs/coffetti.svg);
	--portada: url(images/bgs/PortadaBg.svg);
	--img-artist: url(images/profiles/photo-profile-artist.png);
	--img-client: url(images/profiles/photo-profile-client.png);
}



* {
	border: none;
	outline: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	color: inherit;
	text-decoration: none;
	transition: 0.2s;
	-webkit-transition: .2s;
	cursor: inherit;
}

body, html {
	font-size: var(--tsize-regular);
	font-family: var(--font-regular);
	background-color: var(--color-light);
	color: var(--color-dark);
	cursor: default;
}

h1,h2,h3,h4,h5,legend {
	font-family: var(--font-title);
	font-weight: normal;
}
h1 { font-size: var(--tsize-big); }
h2 { font-size: var(--tsize-tall); }
h3 { font-size: var(--tsize-regular); }
h4 { font-size: var(--tsize-small); }
.coffeti {
	position: relative;
	width: 80%;
	content: url(images/bgs/coffetti.svg);
}
a, button, select { cursor: pointer; }
input, textarea { cursor: text; }
.t-sec { color: var(--color-sec); }
.t-main { color: var(--color-main); }
p { line-height: 1.2em; }
p:not(:last-child) { padding-bottom: 1em; }


/* scroll */
::-webkit-scrollbar {
	width: 0.5em;     /* Tamaño del scroll en vertical */
	height: 0.5em;    /* Tamaño del scroll en horizontal */
    /*display: none;  /* Ocultar scroll */
}
::-webkit-scrollbar-thumb { /* adelante */
	background: var(--color-darky);
}
::-webkit-scrollbar-track { /* atras */
	background-color: var(--color-dark);
}


/* seleccion */
::-moz-selection {
	background: var(--color-main);
	color:var(--color-base);
}
::selection {
	background: var(--color-main);
	color:var(--color-base);
}
input[type="date"]::selection, mark {
	background: var(--color-main);
	color:var(--color-base);
}


/*forms*/
input, select, button, textarea {
	border-radius: 1em;
	min-width: 8em;
	padding: 0.5em 1em;
	position: relative;
	font-family: var(--font-regular);
	background-color: var(--color-lighty);
	color: var(--color-dark);
}
::placeholder { opacity: 0.5; }
button { font-weight: bold; }
button:hover {
	box-shadow: var(--shadow-down);
	margin-top: -0.2em;
	margin-bottom: 0.2em;
}
button.main {
	background-color: var(--color-main);
	color: var(--color-light);
}
button.sec {
	background-color: var(--color-sec);
	color: var(--color-dark);
}
button.risk {
	background-color: var(--color-alert);
	color: var(--color-light);
}
button.locked {
	background-color: var(--color-darky);
	color: var(--color-lighty);
}
button.light {
	background-color: var(--color-light);
	color: var(--color-dark);
}
button.ter { background-color: transparent; }
button.ter.sec {
	color: var(--color-sec);
	border: 1pt solid var(--color-sec);
}
button.ter.locked {
	color: var(--color-darky);
	border: 1pt solid var(--color-darky);
}




/*nav*/
header {
	box-shadow: var(--shadow-down);
	background-color: var(--color-light);
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: center;
	top: 0px;
	width: calc(100% - 4em);
	column-gap: 2em;
	row-gap: 0.5em;
	padding: 0.5em 2em;
}
header > * {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1.5em;
}
header > div, header > div input { flex-grow: 1; }
header div #logo {
	height: 2em;
	content: url('images/logo.svg');
}
header nav { font-family: var(--font-title); }
header nav a {
	display: flex;
	column-gap: 0.5em;
	align-items: center;
}
header nav .site { max-height: 1.5em; }
header nav #profile {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	background-size: 100% 100%;
}
header nav #profile.artist { background-image: var(--img-artist); }
header nav #profile.client { background-image: var(--img-client); }
header .active { border-bottom: 2pt solid var(--color-main); }
header div .active {
	margin-bottom: -14pt;
	padding-bottom: 2pt;
}
header nav .active {
	padding-bottom: 10pt;
	margin-bottom: -12pt;
}
header nav .active:last-child {
	padding-bottom: 4pt;
	margin-bottom: -6pt;
}
header nav > :not(.active):hover {
	margin-top: -0.2em;
	padding-bottom: 0.2em;
}
header button {
	min-width: 1em;
	padding: 0px;
	margin-left: -4em;
	background-color: transparent;
}
header button:hover {
	box-shadow: none;
}

/*footer*/
footer {
	padding: 2em 4em;
	background-color: var(--color-lighty);
	font-size: var(--tsize-small);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer > div {
	display: flex;
	column-gap: 1em;
}

/*main*/
main { margin-top: 3.5em; }
main > * { max-width: 100%; }
.big {
	font-size: var(--tsize-big);
	font-weight: bold;
	text-transform: uppercase;
	min-width: 10em;
	max-width: 16em;
}


/*lists*/
ul { margin-left: 1em; }
ul li:not(:last-child) { margin-bottom: 0.5em; }
ul li {
	list-style-image: url('images/regular/check_yellow.svg');
	text-align: left;
}
ul, li { position: relative; }


/*icons*/
i[class^="ic-"] {
	height: 1.2em;
	margin: -0.1em 0px;
}
i.icon { content: url('icon.svg'); }
i.ic-search { content: url('images/actions/b_search.svg'); }
i.ic-explore { content: url('images/nav/m_explore.svg'); }
i.ic-chat { content: url('images/nav/m_chat.svg'); }
i.ic-org { content: url('images/nav/m_organizer.svg'); }
i.ic-buyingc { content: url('images/nav/m_shopping_cart.svg'); }
i.ic-plus { content: url('images/actions/b_plus.svg'); }
i.ic-star { content: url('images/regular/star_yellow.svg'); }
i.ic-star.empty { content: url('images/regular/star_white.svg'); }
i.ic-star.none { content: url('images/regular/star_gray.svg'); }
i.ic-location { content: url('images/regular/location.svg'); }

/*Rating*/
.rating {
	display: flex;
	column-gap: 0.5em;
	align-items: center;
}
.rating .votes { color: var(--color-darky); }


/*User*/
.user img, .artist img, .client img {
	border-radius: 50%;
	background-size: 100% 100%;
}
.card .user {
	display: flex;
	align-items:  center;
	column-gap: 0.5em;
}
.card .user img { height: 2em; }
.card .user .usname {
	font-size: var(--tsize-regular);
	font-family: var(--font-title);
}
.card.artist {
	display: flex;
	justify-content: space-between;
}
.card.artist img {
	height: 8em;
	margin-top: -5em;
	margin-left: calc(-5pt - 1em);
	border: 4pt solid var(--color-base);
	background-color: var(--color-base);
}
.card.artist .info {
	display: flex;
	flex-flow: column;
	row-gap: 0.5em;
	align-items: flex-end;
}



/*cards*/
.cards {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1em;
	column-gap: 1em;
	justify-content: center;
}
.card {
	background-color: var(--color-base);
	color: var(--color-dark);
	font-size: var(--tsize-small);
	padding: 1.5em;
	display: flex;
	flex-flow: column;
	row-gap: 1em;
	width: 16em;
	position: relative;
}
.card:hover {
	transform: scale(1.05);
	box-shadow: var(--shadow-down);
	margin-top: -0.4em;
	margin-bottom: 0.4em;
}
.card .img {
	margin: -1.5em;
	margin-bottom: 0px;
	width: calc(100% + 3em);
	height: 12em;
	background-color: var(--color-dark);
}
.card h1 {
	font-size: var(--tsize-tall);
	text-align: left;
	width: 100%;
}
.card .resume {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}













@media (max-width: 1200px) {
:root {
	--tsize-big: 24pt;
	--tsize-bigger: 56pt;
}

}

@media (max-width: 960px) {
:root {
	--tsize-big: 22pt;
	--tsize-bigger: 52pt;
}

}
@media (max-width: 880px) {
header a span { display: none; }
.cards {
	column-gap: 0.5em;
	row-gap: 0.5em;
}
.card { max-width: calc(33% - 3.5em); }
.card.artist .img { border-bottom-left-radius: 3em; }
.card.artist img {
	height: 5em;
	margin-top: -6.5em;
}
.card.artist .info {
	width: 100%;
	flex-flow: row;
	column-gap: 0.5em;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
}

@media (max-width: 640px) {
:root {
	/*--tsize-small: 8pt;
	--tsize-regular: 10pt;*/
	--tsize-tall: 14pt;
	--tsize-big: 20pt;
	--tsize-bigger: 48pt;
}
header {
	flex-flow: column;
	padding: 0.5em 1em 0.25em;
	width: calc(100% - 2em);
}
header > * {
	justify-content: space-around;
	column-gap: 1em;
}
header a span { display: block; }
header button { margin-left: -2.5em; }
header div .active { margin-bottom: -8pt; }
header nav .active {
	padding-bottom: 8pt;
	margin-bottom: -8pt;
}
header nav .active:last-child {
	padding-bottom: 2pt;
	margin-bottom: -3pt;
}
main { margin-top: 5.5em; }
}

@media (max-width: 565px) {
.card {
	max-width: calc(50% - 3em);
	padding: 1.25em;
	row-gap: 0.75em;
}
.card .img {
	margin: -1.25em;
	width: calc(100% + 2.5em);
	margin-bottom: 0px;
}
.card.artist img { margin-left: calc(-3pt - 1em); }

}


@media (max-width: 500px) {
header a span { display: none; }
header div #logo { content: url('icon.svg'); }
.card { padding: 1em; }
.card .img {
	margin: -1em;
	width: calc(100% + 2em);
	margin-bottom: 0px;
}
.card.artist img { margin-left: -1em; }
.card > .resume:first-child {
	flex-direction: column;
	align-items: center;
}

}


@media (max-width: 350px) {
.card {	max-width: calc(100% - 2em); }
}
